<% if user_signed_in? %>
<h1>New Placetype</h1>

<%= render 'form', placetype: @placetype %>

<%= link_to '戻る', placetypes_path %>
<% else %>
  <p><%= link_to "Mastodonアカウントでログイン", user_mastodon_omniauth_authorize_path %></p>
<% end %>
